section#about {
    #about-text-container {
        p {
            line-height: 36px;
            font-size: 18px;
            margin-right: 15%;
            margin-left: 15%;
            font-family: quicksand;

            @media screen and (max-width: 600px) {
                margin-right: 10%;
                margin-left: 10%;
                text-align: justify;
            }
        }
        margin-bottom: 40px;
    }
}

#globe-about {
    height: 380px;
    width: 90%;
    object-fit: cover;

    @media screen and (max-width: 600px) {
        width: 100%;
    }
}