.titre-site {
    padding-top: 15px;

    #carre-gris {
        height: 16px;
        width: 16px;
        border: 8px solid #bfbfbf;
    }

    h1#juliesol {
        font-size: 25px;
        font-family: Syne-Bold;
        margin-right: 30px;
        margin-top: 5px;
        margin-left: 5px;
    }

    h2#orthopedagogue {
        font-size: 17px;
        font-family: Syne;
    }

    .texte-titre {
        display: inline-block;
    }
}

header {
    position: fixed;
    z-index: 10;
    background: white;
    width: 100%;
    max-width: 100% !important;
    height: 110px;
    padding-top: 1.5em;

    .row {
        padding-left: 50px;
        padding-right: 30px;
    }
}