header {
    height: 120px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;

    @media screen and (max-width:450px) {
        margin-right: 20px;
        margin-left: 20px;
    }

    @media screen and (max-width:380px) {
        margin-right: 10px;
        margin-left: 10px;
    }

    #title {
        #carre-gris {
            height: 16px;
            width: 16px;
            border: 8px solid #bfbfbf;
        }

        h1#juliesol {
            font-size: 25px;
            font-weight: 550;
            margin-right: 25px;
            margin-top: 5px;
            margin-left: 5px;
        }

        h2#orthopedagogue {
            font-size: 17px;
            font-weight: 50;

            #separator {
                font-weight: 100;
            }

            @media screen and (max-width:610px) {
                display: none;
            }
        }

        .texte-titre {
            display: inline-block;
        }
    }

    #socials {
        display: flex;
        justify-content: space-between;
        gap: 10px;
        .icon {
            margin-right: 7px;
            transition: 0.6s;
            cursor: pointer;
        }

        a {
            color: black;

            .icon:hover {
                transition: 0.3s;
            }

            #pinterest:hover {
                color: #e60023;
            }

            #instagram:hover {
                color: #ca33b3;
            }
        }
    }
}